<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="HomePage" content="width=device-width, initial-scale=1.0" >
    <title>Home</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
    <h1 class="titulo">Seja bem vindo, qual Rede Você deseja usar?</h1>
    <div class="botao-container">
        <div >
            <a href="rede1">
            <button class="botao" >Neural 1</button> 
            </a>
        </div>
        <div >
            <a href="rede2">
            <button class="botao">Neural 2</button> 
            </a>
        </div>
        <div>
            <a href="selecionarModelos">
                <button>
                    Histórico - Mostra Redes treinadas
                </button>
            </a>
        </div>
    </div>
</body>
</html>