<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
    <h1 class="titulo">Você esta na rede 2. Escolha as classes</h1>
    <p>Lembre de adicionar imagens jpg na sua pasta</p>
    <div>
        <form action="/upload" method="POST" enctype="multipart/form-data">
            <input type="file" name="arquivos" multiple webkitdirectory directory>
            <button type="submit">Enviar</button>
        </form>
    </div>

    <div>
        <a href="/templates/variaveisRede2.html">
            <button>Próximo</button>
        </a>
    </div>

    <div>
        <a href="/">
            <button>Voltar</button>
        </a>
    </div>
</body>
</html>