<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
    <h1 class="titulo">Você esta na Rede 1. Escolha os pixels</h1>
    
        <div id="controle">

        
        <label for="quantidade">Quantos pixels você deseja colocar?</label>
        <input type="number" id="quantidade" min="2" value="1">
        <button onclick="definirQuantidade()">Confirmar</button>
        <button onclick="adicionarLinha()" disabled id="btnNovaLinha">Adicionar nova linha</button>

        </div>

        <div id="informacoes"></div>
        <button onclick="enviarDados()">Salvar tabela</button>
    <div>
        <a href="/templates/variaveisRede1.html">
            <button>Próximo</button>
        </a>
    </div>

    <div>
        <a href="/">
            <button>Voltar</button>
        </a>
    </div>

    <script src="/static/script.js"></script>
</body>
</html>