<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Resultados:</h1>
    <h2> Acurácia: {{ acuracia }}</h2>
    <h2> Npumero de épocas: {{ epocas }}</h2>
    <h2> Número de camadas ocultas: {{ camadas }}</h2>
    <h2> Número de neurônios por camada: {{ neuronios  }}</h2>
    <p></p>
    <a href="escolherModelo.html">
        <button>
            Histórico - Mostra Redes treinadas
        </button>
    </a>
    
</body>
</html>