<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h2>Classificar Imagem com Modelo Treinado</h2>
    <form method="POST" enctype="multipart/form-data">
        <label for="modelo_id">Selecione o Modelo:</label>
        <select name="modelo_id" required>
            {% for modelo in modelos %}
            <option value="{{ modelo.id }}">{{ modelo.nome_modelo }} ({{ modelo.data_treinamento.strftime('%d/%m/%Y
                %H:%M') }})</option>
            {% endfor %}
        </select><br><br>

        <label for="imagem">Escolha uma imagem:</label>
        <input type="file" name="imagem" accept="image/*" required><br><br>

        <button type="submit">Classificar</button>
    </form>
</body>

</html>