<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
</head>
<body>
    <h1 class="titulo"> Você esta na rede 1. Escolha as variaveis</h1>

    <div>
        <a>
            <button>Próximo</button>
        </a>
    </div>
    <div>
        <a href="/templates/rede1.html">
            <button>Voltar</button>
        </a>
    </div>
</body>
</html>