<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
</head>
<body>
    <h1 class="titulo"> Você esta na rede 2. Escolha as variaveis</h1>

    <div class="pixelAll">
        <form action="/enviar2" method="POST">
        <div class="formularioCores">
                 <label for="epoca"></label>
                 <input type="number" id="epoca" name="epocas" placeholder="Número de épocas" required>
            
        </div>

        <div class="formularioCores">
            
                 <label for="neuronios"></label>
                 <input type="number" id="neuronios" name="neuronios" placeholder="Neuronios por camadas" required>
            
        </div>

        <div class="formularioCores">
                 <label for="enlaces" ></label>
                 <input type="enlaces" id="enlaces" name="camadas" placeholder="Número de camadas" required>
        </div>
        <div class="botaoEnviar">
            <a href="">
                <button type="submit">Próximo</button>
            </a>
        </div>
    </form>
    </div>

    <div>
        <a href="/templates/rede2.html">
            <button>Voltar</button>
        </a>
    </div>
</body>
</html>